# Print

> Untuk menampilkan std output, digunakan fungsi `print()`. Tidak berbeda antara petik satu maupun petik dua. Berbagai cara dapat dilakukan seperti di contoh berikut.

In [1]:
print("Hello World dengan petik dua")
print('Hello World dengan petik satu')
print('Budi mengatakan "halo, ini hari jum\'at" ')
print()
print('Setelah ini baris baru\nBaris baru')

Hello World dengan petik dua
Hello World dengan petik satu
Budi mengatakan "halo, ini hari jum'at"

Setelah ini baris baru
Baris baru

# Variabel dan Tipe Data

> Python secara otomatis mengetahui tipe data apa dari nilai yang diberikan.

In [2]:
pesan = "Hello World"
print(pesan)

Hello World

In [3]:
nilai = 10
print(nilai)

10

> Untuk melihat tipe data dari sebuah variabel, bisa menggunakan perintah `type`

In [4]:
print(type(nilai))
print(type(pesan))

<class 'int'>
<class 'str'>

## Manipulasi String

> Seperti terlihat dari contoh di atas, string (`<class 'str'>`) adalah tipe data untuk teks atau karakter. Berbeda dengan variabel `nilai` merupakan tipe data integer (`<class 'int'>`). Di sini kita **tidak** bisa menggabungkan string dengan integer secara langsung seperti berikut.

In [5]:
pesan = "Nilai Ujian kamu " + nilai + ", Selamat!"
print(pesan)

TypeError: must be str, not int

> Untuk itu diperlukan untuk mengubah tipe data variabel atau biasa disebut *casting*.

In [8]:
a = '4'
b = a * 3
print(b, type(b))

444 <class 'str'>

In [9]:
c = int(a)
b = c * 3
print(b, type(b))

12 <class 'int'>

In [11]:
print(nilai, type(nilai))
print(str(nilai), type(str(nilai)))

10 <class 'int'>
10 <class 'str'>
Nilai ujian kamu 10, Selamat!

In [12]:
print("Nilai ujian kamu " + str(nilai) + ", Selamat!")

Nilai ujian kamu 10, Selamat!

In [7]:
a = 'hello '
b = 'world'
print(a+b)

hello world

> Selain menggunakan casting, juga bisa menggunakan koma

In [8]:
print("Nilai ujian kamu ", nilai, " Selamat!")

Nilai ujian kamu  10  Selamat!

> Atau seperti gaya penulisan pada C

In [16]:
print("Nilai ujian kamu %d, Selamat!" % (nilai) )

Nilai ujian kamu 10, Selamat!

> Contoh gaya penulisan pada C juga berlaku jika ingin memasukannya dalam sebuah variabel

In [17]:
pesan = "Nilai ujian kamu %d, Selamat!" % (nilai) 
print(pesan)

Nilai ujian kamu 10, Selamat!

## Mengenal Beberapa Tipe Data Dasar

In [11]:
a = 10
print('Variabel a = ', a, ' dengan tipe data ', type(a)) # Cetak teks, variabel dan tipe datanya

Variabel a =  10  dengan tipe data  <class 'int'>

In [12]:
a = 10.0 # Variabel dengan tipe data float
print('Variabel a = ', a, ' dengan tipe data ', type(a)) # Cetak teks, variabel dan tipe datanya

Variabel a =  10.0  dengan tipe data  <class 'float'>

In [13]:
a = '10' # Variabel dengan tipe data string
print('Variabel a = ', a, ' dengan tipe data ', type(a)) # Cetak teks, variabel dan tipe datanya

Variabel a =  10  dengan tipe data  <class 'str'>

In [14]:
a = True # Variabel dengan tipe data boolean
print('Variabel a = ', a, ' dengan tipe data ', type(a)) # Cetak teks, variabel dan tipe datanya

Variabel a =  True  dengan tipe data  <class 'bool'>

# List
> Dalam bahasa pemrograman lain biasa disebut array

In [15]:
a = [10, 11, 12]
print(a, type(a))

[10, 11, 12] <class 'list'>

> Untuk banyaknya isi dari list dapat menggunakan fungsi `len()`

In [16]:
print(len(a))

3

> Jika ingin mengakses datanya maka berikan index data yang diminta

In [17]:
print(a[0], type(a[0]))

10 <class 'int'>

> Dalam satu list bisa juga menyimpan banyak tipe data

In [18]:
a = ['10', 10, 10.0]

In [22]:
type(a[2])

float

## Nested List / Multi Dimention List

In [23]:
d = [
    [1,2,3,4,5],
    [5,4,3,2,1],
    [10,5,3,7,3]
]
print(d)

[[1, 2, 3, 4, 5], [5, 4, 3, 2, 1], [10, 5, 3, 7, 3]]

In [24]:
d[0]

[1, 2, 3, 4, 5]

In [25]:
d[0][0]

1

# Loop

In [26]:
days = ['senin','selasa','rabu','kamis','jumat','sabtu','minggu']
for day in days:
    print(day)

senin
selasa
rabu
kamis
jumat
sabtu
minggu

In [ ]:
for (int i =0; i < 12; i++)

## List Comprehension

In [27]:
a = [num for num in range(0,11)]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Flow Control

## Condition

In [28]:
a = 1
a == 1

True

In [29]:
a == 2

False

## Logic

OR

|       | True | False |
|-------|------|-------|
| True  | True | True  |
| False | True | False |

AND

|       | True | False |
|-------|------|-------|
| True  | True | False  |
| False | False | False |

In [30]:
nama = 'budi'
kelas = 12

print(nama == 'budi' and kelas > 10)
print(nama == 'budi' and kelas < 10)
print(nama == 'budi' or kelas < 10)
print(nama == 'andi' or kelas < 10)

True
False
True
False

> Ketika menggunakan if, pastikan program berada menjorok kedalam sebanyak 4 spasi atau 1 tab. Jika tidak maka akan terdapat `IndentationError`

In [33]:
nama = 'ani'
if nama == 'budi':
    print('kamu beneran budi')
print('diluar if')

diluar if

In [34]:
if True:
    print('ok')
   print('ok2')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

# Dictionary

In [36]:
peliharaan = {
    "nama": "meong",
    "jenis": "kucing",
    "hobi": ["makan", "tidur", "hilang"]
}
peliharaan

{'hobi': ['makan', 'tidur', 'hilang'], 'jenis': 'kucing', 'nama': 'meong'}

In [42]:
type(peliharaan)

dict

In [43]:
peliharaan.keys()

dict_keys(['nama', 'jenis', 'hobi'])

In [44]:
print('Aku punya %s namanya %s yang sukanya %s ' % (peliharaan['jenis'], peliharaan['nama'], peliharaan['hobi'][0]))

Aku punya kucing namanya meong yang sukanya makan

In [49]:
dictionary = []

In [50]:
dictionary

[]

In [48]:
dictionary["umur"] = 2
dictionary["alias"] = 'miauw'
dictionary

{'alias': 'miauw', 'umur': 2}

## Nested

In [51]:
alien_0 = {'color': 'green', 'points': 5}
alien_1 = {'color': 'yellow', 'points': 10}
alien_2 = {'color': 'red', 'points': 15}
aliens = [alien_0, alien_1, alien_2]

print(aliens)

[{'color': 'green', 'points': 5}, {'color': 'yellow', 'points': 10}, {'color': 'red', 'points': 15}]

In [ ]:
for alien in aliens:
    print(alien)

In [52]:
users = {
    'user1' : {
        'nama' : 'udin',
        'umur' : 18
    },
    'user2' : {
        'nama' : 'sarah',
        'umur' : 15
    }
}

In [55]:
users['user1']['nama']

'udin'

In [ ]:
users = {
    'aeinstein': {
        'first': 'albert',
        'last': 'einstein',
        'location': 'princeton',
    },
    'mcurie': {
        'first': 'marie',
        'last': 'curie',
        'location': 'paris',
    }
}

print(users)

In [ ]:
for username, user_info in users.items():
    print("\nUsername: " + username)
    
    print("\tFull name: " + (user_info['first'] + " " + user_info['last']).title())
    print("\tLocation: " + user_info['location'].title())

# Function

In [56]:
def greet():
    print("Hello!")

In [57]:
greet()

Hello!

In [58]:
def greet(nama):
    print("Hello", nama, "!")

In [59]:
greet('budi')

Hello budi !

## Overloaded

In [60]:
def greeting(nama, umur, jk, nationality='indonesia', rumah='di atas bumi'):
    if nationality == 'indonesia':
        print('Selamat Pagi', nama, umur, jk, nationality, rumah)
    else:
        print("Hello", nama, "from", nationality, umur, jk, rumah)

In [61]:
greeting('tegar', 17, 'L',rumah='Surabaya')

Selamat Pagi tegar 17 L indonesia Surabaya

In [64]:
greeting('Japan','tegar','L',nationality='Jerman')

Hello Japan from Jerman tegar L di atas bumi

In [ ]:
def describe_pet(animal_type, pet_name):
    print("\nI have a " + animal_type + ".")
    print("My " + animal_type + "'s name is " + pet_name.title() + ".")

describe_pet('harry', 'hamster')
describe_pet(pet_name='harry', animal_type='hamster')
describe_pet(animal_type='hamster',pet_name='harry')

In [67]:
def perhitungan(num1, num2, operator = '+'):
    if operator == '+':
        return num1+num2
    elif operator == '-':
        return num1-num2
    else:
        return 5000

perhitungan(10,5,'+')

15